:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --black: #050505;
  --black-dark: #1F1F1F;
  --black-medium: #2D2D2D;
  --black-light: #3A3A3A;
  --gray-dark: #757575;
  --gray-medium: #E9E9E9;
  --gray-light: #F4F4F4;
  --white: #FFFFFF;
  --purple: #A445ED;
  --red: #FF5252;
}

body {
  margin: 0;
}
